:root{
    --title-color: #322153;
    --primary-color: #34cb79;
}

html{
    background-color: #34a4eb;
}

#confirm{
    background-image: url('https://i.pinimg.com/originals/b4/25/71/b42571ea8fd0160785dd55d107439570.jpg');
    transition: .5s;
}

#confirm:hover{
    background-image: url('https://media.giphy.com/media/JpGHijNKwNs4rR6jqG/giphy.gif');
}

#champImg{
    border-radius: 50%;
    margin-top: 20px;
}

p{
    color: var(--title-color);
    font-family: Roboto;
    font-size: 26px;
}

.back{
    margin-left: 235px;
}

#champImg{
    align-items: center;
    justify-content: center;
    margin-left: 200px;
}